<%= render 'shared/admin-nav' %>

<div class="admin-main">
  <h1>管理者機能</h1>
  <div class="index-admins">
    <h2>管理者</h2>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>名前</th>
          <th>admin?</th>
          <th>メールアドレス</th>
          <th>所持P</th>
          <th>作成</th>
          <th>更新</th>
          <th colspan="2">操作</th>
        <tr>
      </thead>
    <% @admins.each do |admin| %>
      <tbody>
        <tr>
          <td><%= admin.name %></td>
          <td>true</td>
          <td><%= admin.email %></td>
          <td><%= admin.point %></td>
          <td><%= admin.created_at.strftime("%Y.%m.%d %H:%M") %></td>
          <td><%= admin.updated_at.strftime("%Y.%m.%d %H:%M" )%></td>
          <td><%= link_to "編集", "#", class:"btn btn-outline-dark btn-sm"%></td>
          <td><%= link_to "削除", "#", class:"btn btn-outline-dark btn-sm"%></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

  <div class="admin-link">
  <h2>リンク</h2>
  <table class= "table table-hover">
    <thead class="thead-light">
      <tr>
        <th>属性</th>
        <th>操作内容</th>
        <th colspan="4">リンク</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>admin</td>
          <td>管理ユーザ追加</td>
          <td><%= link_to "追加", "#",class:"btn btn-outline-dark btn-block btn-sm"%></td>
        </tr>
        <tr>
          <td>temp</td>
          <td>general</td>
          <td><%= link_to "temp", "#",class:"btn btn-outline-dark btn-block btn-sm"%></td>
        </tr>
    </tbody>
  </table>
  </div>
  </div>

</div>