<p id="notice"><%= notice %></p>

<p>
  <strong>会員情報:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<h3>購入/決済状況</h3>

<table class= "table table-hover">
  <thead class="thead-light">
    <tr>
      <th>コンサート</th>
      <th>開催日</th>
      <th>席種</th>
      <th>席数</th>
      <th>決済期限日</th>
      <th>支払額</th>
    </tr>
  </thead>

  <tbody>
    <%  %>
      <tr>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
  </tbody>
</table>

<%= link_to '戻る', admins_path  ,class:"btn" %>
