<%= form_with(model: concert_detail, local: true) do |form| %>
  <% if concert_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concert_detail.errors.count, "error") %> prohibited this concert_detail from being saved:</h2>

      <ul>
      <% concert_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :concert_id ,"コンサート"%>
    <%= form.text_field :concert_id %>
  </div>

  <div class="field">
    <%= form.label :grade ,"席種"%>
    <%= form.number_field :grade %>席
  </div>

  <div class="field">
    <%= form.label :price ,"価格"%>
    <%= form.number_field :price %>円
  </div>

  <div class="field">
    <%= form.label :capacity ,"販売席数"%>
    <%= form.number_field :capacity %>席
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
