<p id="notice"><%= notice %></p>

<p>
  <strong>コンサート情報:</strong>
  <%= @concert_detail.concert.infomation %>
</p>

<p>
  <strong>席種:</strong>
  <%= @concert_detail.grade %>席
</p>

<p>
  <strong>価格:</strong>
  <%= @concert_detail.price %>円
</p>

<p>
  <strong>販売席数:</strong>
  <%= @concert_detail.capacity %>席
</p>

<%= link_to '編集', edit_concert_detail_path(@concert_detail) , class:"btn btn-outline-info"%> |
<%= link_to '戻る', concerts_path  ,class:"btn btn-outline-info" %>
