  <h1>お支払いページ</h1>

<table class= "table table-hover">
  <thead class="thead-light">
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>所持ポイント数</th>
    </tr>
  </thead>
  <tbody>
    <td><%= current_user.name %></td>
    <td><%= current_user.email %></td>
    <td><%= current_user.point %>Pt</td>
  </tbody>
</table>

<br>
<br>
<h3>申込みのチケット</h3>
<table class= "table table-hover">
  <thead class="thead-light">
    <tr>
      <th>コンサート</th>
      <th>開催日</th>
      <th>申込席種</th>
      <th>申込席数</th>
      <th>お支払額</th>
      <th>決済期限日</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @concert.infomation %></td>
    <td><%= @concert.date %></td>
    <td><%= @sale.grade %></td>
    <td><%= @sale.number_of_seats %></td>
    <td>￥<%= @sale.amount %>円</td>
    <td><%= @sale.payment_deadline %></td>
  </tbody>
</table>

<%= form_with(model: @users , local: true) do |form| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this concert from being saved:</h2>
      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :sale_id, :value => @sale.id %>
  <%= form.hidden_field :concert_id, :value => @concert.id%>

  <div class="field">
    <%= form.label :used_point ,"使用するポイント"%>
    <%= form.text_field :used_point %>Pt
  </div>

  <div class="actions">
    <%= form.submit "支払う"%>
  </div>

<% end %>