 <%= render 'shared/user-nav' %>

<div class="user-main">
<div class="form-container">
<%= form_with(model: @user, local: true) do |form| -%>
  <%- if @user.errors.any? -%>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") -%> prohibited this user from being saved:</h2>
    <ul>
    <% user.errors.full_messages.each do |message| -%>
      <li><%= message -%></li>
    <%- end -%>
    </ul>
  </div>
  <%- end -%>
  <div class="setting-wrapper">
    <h1>登録情報変更</h1><br>
    <div class="field input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">名前</span>
      </div>
      <%= form.text_field :name, placeholder: "" , autofocus: true, autocomplete: "name", class:"form-control" -%>
    </div>
    <div class="actions">
      <%= form.submit "更新する",class:"btn btn-outline-dark btn-block"-%>
    </div>
  </div>
<% end -%>

<div class="actions">
<%= link_to "パスワードとメールアドレスの変更はこちら", edit_user_registration_path , class:"btn btn-outline-dark" -%>
</div>
</div>
</div>