<%= render 'shared/user-nav' %>
<div class="user-main">
  <div class="history">
    <h1>購入情報</h4>
    <div class="table">
      <table class= "table table-hover">	
        <thead class="thead-light">	
          <tr>	
            <th>コンサート</th>	
            <th>開催日</th>	
            <th>決済</th>
            <th>獲得ポイント</th>	
            <th></th>		
        </thead>	
        <tbody>	
          <% @sales.each do |sale|%>	
            <tr>	
              <td><%= Concert.find(sale.concert_id).information %></td>	
              <td><%= Concert.find(sale.concert_id).date.strftime("%Y年%m月%d日") %></td>
              <% if paid = Payment.find_by(sale_id: sale.id) %>
              <td>決済日：<%= paid.date.strftime("%Y年%m月%d日")%></td>
              <td>獲得<%= paid.added_point %>Pt</td>	
               <td><%= link_to '詳細', user_bill_path(sale:sale.id,concert:sale.concert_id) ,class:"btn btn-outline-info btn-block btn-sm" %>
              <% else %>
              <td>決済期限：<%= sale.payment_deadline %></td>
              <td><strong>未決済</strong></td>
              <td><%= link_to '詳細／決済', user_confirm_path(sale:sale.id,concert:sale.concert_id) ,class:"btn btn-outline-info btn-block btn-sm" %>
              <% end %>
            </tr>	
            <% end %>	
        </tbody>	
      </table>
    </div>
  </div>
</div>