<p id="notice"><%= notice %></p>

<h1>登録情報</h1>

<table class= "table table-hover">
  <thead class="thead-light">
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>所持ポイント</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <td><%= current_user.name %></td>
    <td><%= current_user.email %></td>
    <td><%= current_user.point %>Pt</td>
    <td><%= link_to '登録情報変更', edit_user_path(current_user), class:"btn btn-outline-info" %><td>
  </tbody>
</table>

<br>
<br>

<h1>購入情報</h4>

<table class= "table table-hover">
  <thead class="thead-light">
    <tr>
      <th>コンサート</th>
      <th>開催日</th>
      <th>申込席種</th>
      <th>申込席数</th>
      <th>購入総額</th>
      <th>使用ポイント</th>
      <th>追加ポイント</th>
      <th>決済期限日</th>
      <th>決済日</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale|%>
      <tr>
        <td><%= Concert.find(sale.concert_id).infomation %></td>
        <td><%= Concert.find(sale.concert_id).date %></td>
        <td><%= sale.grade %></td>
        <td><%= sale.number_of_seats %></td>
        <td>￥<%= sale.amount %>円</td>
        <% if Payment.exists?(id: sale.id) %>
          <td><%= sale.used_point %>Pt</td>
          <td><%= Payment.find(sale.id).added_point %>Pt</td>
          <td><%= link_to '支払済み', '#' , class:"btn btn-primary" %>
          <td><%= Payment.find(sale.id).date %></td>
        <% else %>
          <td colspan="2"><%= link_to 'お支払い', users_confirm_path(concert_id:sale.concert_id, sale_id:sale.id) , class:"btn btn-outline-info btn-block" %></td>
          <td colspan="2"><%= sale.payment_deadline %>までに、お支払い下さい。</td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
