<p id="notice"><%= notice %></p>

<div class="user-nav">
<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to '登録情報', user_path(current_user.id), class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to '購入情報', users_purchase_path, class:"nav-link" %>
  </li>
</ul>
</div>

<hr>

<div class="user-main">
<ul class="nav flex-column">
  <li class="nav-item">
   <%= link_to "名前：#{current_user.name}", edit_user_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to "メールアドレス：#{current_user.email}", edit_user_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to 'パスワード', edit_user_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to '支払方法', "#", class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to '退会する', @user, method: :delete, data: { confirm: '本当によろしいですか？' } , class:"btn btn-outline-danger" %>
  </li>
</ul>
</div>
