<%= render 'shared/user-nav' %>

<div class="user-main">
<div class="user-info">
<ul class="nav flex-column">
  <li class="nav-item">
   <%= link_to "名前：#{current_user.name}", edit_user_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to "メールアドレス：#{current_user.email}", edit_user_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to 'パスワード', edit_user_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to '支払方法', "#", class:"nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to '退会する', @user, method: :delete, data: { confirm: '本当によろしいですか？' } , class:"btn btn-outline-danger" %>
  </li>
</ul>
</div>
</div>
