<br>
<br>
<br>
<br>
<footer>
  <div class = "footer-main">
    <div class = "footer-left"></div>
      <div></div>
      <div class = "footer-contents">
        <%= link_to 'コンサート', concerts_path %>
        <% if user_signed_in? %>
          <%= link_to 'マイページ',  users_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% if current_user.admin? %>
            <%= link_to '管理者', admins_path %>
          <% end %>
        <% else %>
          <%= link_to 'ログイン', 'users/sign_in' %>
        <% end %>
      </div>
    <div class = "footer-right"></div>
  </div>
  <div class= "footer-bottom">
      <div class= "footer-logo">
        <img src="#" alt="concert-ticket">
        <p class= "copyright">© 2019 ●●●</p>
      </div>
  </div>
</footer>