<p id="notice"><%= notice %></p>

<h1>コンサート</h1>

<table>
  <thead>
    <tr>
      <th>情報</th>
      <th>公演日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.infomation %></td>
        <td><%= concert.date %></td>
        <td><%= link_to '表示', concert %></td>
        <% if current_user.admin? %>
          <td><%= link_to '編集', edit_concert_path(concert) %></td>
          <td><%= link_to '削除', concert, method: :delete, data: { confirm: '本当によろしいですか？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to '新規作成', new_concert_path %>
<% end %>