<%= form_with(model:@sale , local: true) do |form| %>
  <% if concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>コンサートID:<%= @concert.id %></div>
  <div>コンサート詳細ID:<%= @concert_detail.id %></div>

  <%= form.hidden_field :concert_id, :value => @concert.id %>
  <%= form.hidden_field :concert_detail_id, :value => @concert_detail.id %>

  <div class="field">
    <%= form.label :number_of_seats ,"購入席数"%>
    <%= form.select :number_of_seats, options_for_select(1..4) %>席
  </div>

  <div class="actions">
    <%= form.submit "購入する"%>
  </div>

<% end %>
