<p id="notice"><%= notice %></p>

<h1>購入情報</h1>

<table class= "table table-hover">
  <thead class="thead-light">
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ポイント残高</th>
      <th colspan="3">
    </tr>
  </thead>

  <tbody>
      <tr>
        <th><%= current_user.name %></th>
        <th><%= current_user.email %></th>
        <th>残り<%= current_user.point %>ポイント</th>
      </tr>
  </tbody>
</table>

<br>
<br>

<h4>購入情報</h4>

<table>
  <thead>
    <tr>
      <th>コンサート</th>
      <th>開催日</th>
      <th>席種</th>
      <th>席数</th>
      <th>使用ポイント</th>
      <th>支払額</th>
      <th>決済期限日</th>
      <th>支払状況</th>
      <th>付加ポイント</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %>席</td>
        <td><%=  %>ポイント</td>
        <td><%=  %>円</td>
        <td><%=  %>席</td>
        <td><%=  %></td>
        <td><%=  %>ポイント</td>
      </tr>
  </tbody>
</table>

<%# link_to '編集', edit_sale_path , class:"btn btn-outline-info" %>
<%# link_to '試験結果追加', new_sale_path, class:"btn btn-outline-warning" %>